body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  height: 150px;
  margin-top: 5rem;
}

.products-container {
  display: flex;
  flex: 3;
  flex-direction: column;
  flex-wrap: wrap;
}

.product {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.product-image {
  display: block;
  max-width: 100%;
  max-height: 400px;
  height: auto;
  width: auto;
}

#title{
  color: dimgrey;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
min-height: 60vh;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
width: 15rem;
}

.wrapper {
  flex-direction: column;
}

#categories {
  border: none;
}

#wrapper {
  flex-direction: column;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
flex: 1;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 5rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}

.wrapper {
    flex-direction: row;
    margin-left: 5rem;
    margin-right: 5rem;
}
.products-container {
  display: flex;
  flex-direction: row;
  flex: 3;
}
.product {
   min-width:400px;
}
.product-image {
   height:400px;
}
}